@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.slider{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 60vh;
    overflow: hidden;
}
.slider img{
    display: block;
    width: 98vw;
    height: 60vh;
}
@keyframes ani1 {
    0%{
        transform: translate(-196vw);
    }
    25%{
        transform: translate(-97vw);
    }
    50%{
        transform: translate(1vw);
    }
    75%{
        transform: translate(101vw);
    }
    100%{
        transform: translate(200vw);
    }
}
@keyframes ani2 {
    0%{
        transform: translate(-197vw);
    }
    25%{
        transform: translate(-98vw);
    }
    50%{
        transform: translate(1vw);
    }
    75%{
        transform: translate(100vw);
    }
    100%{
        transform: translate(199vw);
    }
}
@keyframes ani3 {
    0%{
        transform: translate(-197vw);
    }
    25%{
        transform: translate(-99vw);
    }
    50%{
        transform: translate(0vw);
    }
    75%{
        transform: translate(99vw);
    }
    100%{
        transform: translate(198vw);
    }
}  

@keyframes ani4 {
    0%{
        transform: translate(-197vw);
    }
    25%{
        transform: translate(-98vw);
    }
    50%{
        transform: translate(-1vw);
    }
    75%{
        transform: translate(98vw);
    }
    100%{
        transform: translate(197vw);
    }
} 

@keyframes ani5 {
    0%{
        transform: translate(-197vw);
    }
    25%{
        transform: translate(-98vw);
    }
    50%{
        transform: translate(0vw);
    }
    75%{
        transform: translate(97vw);
    }
    100%{
        transform: translate(196vw);
    }
}

    
.slide1{
    transform: translate(-196vw);
    animation: ani5 25s 3s infinite forwards;
}
.slide2{
    transform: translate(-196vw);
    animation: ani4 25s 3s infinite forwards;
}
.slide3{
    transform: translate(-196vw);
    animation: ani3 25s 3s infinite forwards;
}
.slide4{
    transform: translate(-196vw);
    animation: ani2 25s 3s infinite forwards;
}
.slide5{
    transform: translate(-196vw);
    animation: ani1 25s 3s infinite forwards;
}
.card{
    background-color: white;
    width: 96vw;
    margin: 2vh auto;
}
.card-line{
    display: flex;
    align-items: center;
    /* overflow-x: scroll; */
}
.card-items{
    background-color: white;
    display:inline-flex;
    flex-direction: column;
    margin: 1vh 0.5vw;
}
.card-items:hover{
    box-shadow: 1px 1px 8px 2px #131921;
    cursor: pointer;
}
.card-items img{
    width: 160px;
    height: 220px;
    padding: 15px 15px 5px 15px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    margin: 10px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: small;
}
.line1{
    padding: 5px;
    color: white;
    background-color: #CC0C39;
    border-radius: 2px;
}
.line2{
    padding: 5px;
    color: #CC0C39;
}

h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 1.7vw; */
    font-size: 25px;
    padding: 5px 10px;
}
.text-center{
    padding: 1px 10px;
    text-align: center;
}
.bigcard-line{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 98vw;
    margin:2vh auto;
}
.bigcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    background-color: white;
    margin: 0px 1.5vw;
    padding: 2vh 0.4vw;
}

.bigcard-item{
    width: 120px;
    height: 120px;
    margin: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bigcard-item img{
    width: 135px;
    height: 95px;
}
.seedeals{
    width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    color: #007185;
}
.seedeals:hover{
    color: rgb(196, 44, 44);
    text-decoration: underline;
    cursor: pointer;
}
.heading{
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
.bigcard p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: gray;
    font-size: 13px;
}
.bigcard-item:hover{
    cursor: pointer;
}
